* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.landing-page-banner {
  background-image: url("../../assets/caro.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vw;
}
.top-navbar-section {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.logo {
  font-weight: bold;
}
.teachMeBox {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}
.coursesBg {
  height: 100%;
  width: 100%;
  background-color: #7d9bad;
}
.welcome {
  font-weight: bold;
  color: #3ca1db;
}

.teachMeBg {
  background-color: #f4f4f7;
}
.icons {
  font-size: 40px;
  color: #3ca1db;
}
.btn-sub {
  width: 100%;
  height: 60px;
}
.plan-sub {
  align-items: center;
  display: flex;
  justify-content: center;
}
.footer {
  background: #11161a;
}
.contact {
  color: #3ca1db;
  margin-right: 10px;
}
.details {
  color: #3ca1db;
}
.phone-img {
  height: 40%;
  width: 30%;

  margin-left: 30%;
}
.auth-log {
  width: 75%;
  border-radius: 8px;
  margin: 40% auto;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.Form.Control::placeholder {
  border-bottom: 1px solid black;
}
.reg-bg {
  background: #3ca1db4b;
}
@media screen and (max-width: 500px) {
  .phone-img {
    height: 20%;
    width: 30%;

    margin-left: 30%;
  }
}

.plan-section {
  background-color: #f4f4f7;
}

.subscription-plan {
  border: 1px #000 solid;
  border-radius: 8px;
  width: 80%;

  text-align: center;
}
.note {
  color: rgb(209, 133, 133);
}
.CodingTek {
  font-weight: bold;
}
.card-layout {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
